.Video {
  border: 5px solid #ccc;
  background-image: url(https://cdn.dribbble.com/users/763/screenshots/14439713/media/56b3644a091ba6a8611ec5a04df613a0.jpg?compress=1&resize=1200x900&vertical=top);
  width: 100%;
  aspect-ratio: 1.5;
  background-size: cover;
}
